/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun8i-h3";
	
	fragment@0 {
		target = <&pio>;
		__overlay__ {
			spi1_cs0: spi1_cs0 {
				pins = "PA13";
				function = "gpio_out";
				output-high;
			};
			
			spi1_cs1: spi1_cs1 {
				pins = "PA17";
				function = "gpio_out";
				output-high;
			};
			
			opiz_display_pins: opiz_display_pins {
				pins = "PG9", "PA1";
				function = "gpio_out";
			};
			
			ads7846_pins: ads7846_pins {
				pins = "PA0";
				function = "irq";
			};
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			rpi_display_backlight: backlight {
				compatible = "gpio-backlight";
				gpios = <&pio 0 6 0>; 
				default-on;
				status = "okay";
			};
		};
	};
	
	fragment@2 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			
			pinctrl-names = "default", "default";
			cs-gpios = <&pio 0 13 0>, <&pio 0 17 1>;
			
			opizdisplay: opiz-display@0 {
				reg = <0>; /* CS0 */
				compatible = "ilitek,ili9486";
				
				pinctrl-names = "default";
				pinctrl-0 = <&opiz_display_pins>;
				pinctrl-1 = <&spi1_cs0>;
				spi-max-frequency = <125000000>;
				rotate = <90>;
				bgr = <0>;
				fps = <33>;
				buswidth = <8>;
				dc-gpios = <&pio 6 9 0>;      /* PG9 */
				reset-gpios = <&pio 0 1 0>;   /* PA1 */
				debug = <4>;
				status = "okay";
				
				backlight = <&rpi_display_backlight>;
			};
			
			ads7846: ads7846@1 {
				reg = <1>; /* CS1 */
				compatible = "ti,ads7846";
				pinctrl-names = "default";

				pinctrl-3 = <&ads7846_pins>;
				spi-max-frequency = <2500000>;
				interrupt-parent = <&pio>;
				interrupts = <0 0 2>;        /* IRQ_TYPE_EDGE_FALLING */
				pendown-gpio = <&pio 0 0 1>; /* PA0 */
				
				ti,x-min = /bits/ 16 <0>;
				ti,y-min = /bits/ 16 <0>;
				ti,x-max = /bits/ 16 <0x0FFF>;
				ti,y-max = /bits/ 16 <0x0FFF>;
				ti,pressure-min = /bits/ 16 <0>;
				ti,pressure-max = /bits/ 16 <0xFFFF>;
				ti,x-plate-ohms = /bits/ 16 <400>;
				
				ti,keep-vref-on;
				ti,settle-delay-usec = /bits/ 16 <150>;
				ti,penirq-recheck-delay-usecs = /bits/ 16 <50>;
				status = "okay";
			};
		};
	};
};